@import url('https://fonts.googleapis.com/css?family=Poppins');

*{
font-family: 'Poppins', sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0%;
    background-color: rgba(56, 103, 231, 0.5);
}

header {
    background-image  : url("img/background.jpg");
    height: 100%;
    width: 100%;
    margin: 0%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex; /* or inline-flex */;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 0px 10px;
}

header h1 {
    margin: auto;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(.03,.83,.53,.98);
    display: flex; /* or inline-flex */;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    transform: translate(0px, -200px);
    animation: enter 3s ease-in-out;
}

h1:hover {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgb(0, 0, 0);
    border-color: rgba(255, 255, 255, 1);
    border-radius: 10px;
    transition: all 0.2s cubic-bezier(.03,.83,.53,.98);
    margin:auto;
}

section {
    height: 100%;
    width: 100%;
    display: flex; /* or inline-flex */;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    min-height: 3%;
    align-items: center;  
}

section a {
    width: 26%;
    margin: 40px;
    justify-content: space-between;
}

article {
    width: 100%;
    padding: 15px;
    display: flex; /* or inline-flex */;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: space-between; 
    align-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255); 

}
h2{
    color: rgb(255, 255, 255)
}
p{
    color: rgb(255, 255, 255)
}
h2:hover{
    background-color: rgba(0, 0, 0, 0.5);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(255, 255, 255); 
    margin: auto;
}
#article-1 {
    background-image : url("img/article-1.jpg"); 
}
#article-2 {
    background-image : url("img/article-2.jpg"); 
}
#article-3  {
    background-image : url("img/article-3.jpg"); 
}
#article-4  {
    background-image : url("img/article-4.jpg"); 
}
#article-5 {
    background-image : url("img/article-5.jpg"); 
}
#article-6 {
    background-image : url("img/article-6.jpg"); 
}

/** RESPONSIVE **/
/* Mobile */
@media screen and (max-width : 600px) {
    section {
        display: flex; /* or inline-flex */;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    section a {
        height: 80%;
        width: 80%;
    }
}


/* Tablet */
@media only screen and (min-width : 600px) and (max-width : 900px) {
    section {
        display: flex; /* or inline-flex */;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center; 
    }
    section a {
            height: 50%;
            width: 50%;
    }
   
    }

/** ANIMATIONS **/
@keyframes enter {
    from {opacity: 0;
    transform: translateY(30px)
    }
    to {opacity: 1;
    transform: translateY(-200px)
    }
}